*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  width: 100%;
}

.container {
  width: 95%;
  max-width: 1024px;
  margin: 0 auto;
}


/* ------ Alphabet */
.alphabetList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.alphabetLetter {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  display: flex;
  border: 1px solid #000;
  padding: 1rem 2rem;
  justify-content: center;
  cursor: pointer;
}


/* ------ guesswords */
.letters {
  display: flex;
  padding: 2rem;
  gap: 1rem;
  justify-content: center;
}

.letterMap {
  font-family: Tahoma, sans-serif;
  font-size: 4rem;
  padding: 0 .5rem;
  line-height: 5rem;
}

.letterMap.hidden {
  visibility: hidden;
}

.letterMap.red {
  color: #da1515;
}

.borderBottom {
  border-bottom: 4px solid #000;
}


/* ------ game message */
.gamemessage {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: #3033de;
  padding: 2rem 0;
}